@tailwind base;
@tailwind components;
@tailwind utilities;

.grad {
  background: -webkit-linear-gradient(-60deg,hsl(337, 94%, 50%) 30px, hsl(184, 100%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad2 {
  background: -webkit-linear-gradient(-140deg,hsl(337, 100%, 50%) 10px, hsl(184, 100%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-wrapper{
  position: relative;
  padding-top: 177.78%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}